<nav class="bg-gray-800 fixed top-0 left-0 w-full z-50 mb-5">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="flex items-center space-x-4">
          
  
          <label for="simple-search" class="sr-only">Search</label>
          <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5v10M3 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 10a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm12 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0V6a3 3 0 0 0-3-3H9m1.5-2-2 2 2 2"/>
              </svg>
            </div>
            <input type="text" [(ngModel)]="query" (input)="search()" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-noir-500 block w-80 pl-10 p-2 relative" placeholder="Search..." required />
          </div>
          <button type="submit" class="p-2 ml-2 text-sm font-medium text-white bg-black rounded-lg hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-500">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
            <span class="sr-only">Search</span>
          </button>
        </div>
  
        <!-- User Search Dropdown -->
        <div *ngIf="filteredUsers.length > 0 && query != ''" class="absolute z-10 mt-2 w-80 bg-white shadow-lg rounded-lg border top-12 left-12">
          <div class="p-4">
            <ul>
              <li *ngFor="let user of filteredUsers" (click)="navigateToProfile(user)" class="flex items-center space-x-3 py-2 border-b cursor-pointer hover:bg-gray-100">
                <img [src]="user.image" class="h-8 w-8 rounded-full object-cover" alt="User Image">
                <div>
                  <p class="text-sm font-medium text-gray-900">{{ user.firstname }}  {{ user.lastname}}</p>
                  <p class="text-xs text-gray-500">
                    <span *ngIf="user.id == userAuth.id" class="text-blue-500 font-semibold">(you)</span> 
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
  
        <!-- Navigation Links -->
        <div class="flex items-center justify-between flex-1">
          <div class="hidden sm:flex space-x-4 ml-4">
            <a href="#" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white">Prepare</a>
            <a routerLink="/" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Mock Interviews</a>
          </div>
  
        
          <!-- User Menu Button -->
          <div class="relative">
            <button type="button" class="flex rounded-full bg-gray-800 text-sm focus:outline-none" (click)="toggleMenu()">
              <span class="sr-only">Open user menu</span>
              <img [src]="'default-profile.png'" class="h-10 w-10 rounded-full object-cover">
            </button>
  
            <!-- User Menu Dropdown -->
            <div class="absolute right-0 mt-2 w-60 bg-white rounded-lg shadow-lg ring-1 ring-black ring-opacity-5" *ngIf="isMenu">
              <div (click)="NavigateToMyprofile()" class="flex items-center px-4 py-3 border-b border-gray-200">
                <img src="default-profile.png" alt="User photo" class="h-12 w-12 rounded-full object-cover">
                <div class="ml-3">
                  <p class="text-sm font-medium text-gray-800">{{ userAuth.firstname }} {{ userAuth.lastname }}</p>
                </div>
              </div>
  
              <div class="py-2">
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">My Profile</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  